<!DOCTYPE html>
<html lang="en">

<head>
	<title>Notable</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="stylesheet.css" media="screen">
	<link rel="icon" href="../favicon.ico" type="image/x-icon">
</head>

<body>
	<div id="wrapper">
		<header class="titleHeader">
			<h1 class="title">Notable</h1>
		</header>

		<div class="signinBanner">
			<p>
				<form class="signinForm">
					<input type="text" name="userLogin" placeholder="Username">
					<input type="text" name="passwordLogin" placeholder="Password">
					<input type="submit" value="Sign In" class="btnSignin">
				</form>
			</p>
		</div>

		<article class="description">
			<h3 class="descPadding">
				Welcome to Notable!
			</h3>
			<p class="descPadding">
				Here you can create little notes to yourself that you can access at any time!
			</p>
			<p class="descPadding">
				Write down reminders to yourself, upcoming appointments, anything you need or want to!
			</p>
		</article>

		<main class="mainBody">
			<div class="signupArea">
				<h1 class="signupFormHeader">Sign up now!</h1>
				<form class="signupForm">
					<b>Username</b>
					<br>
					<input type="text" name="userSignup">
					<br><br>
					<b>Email</b>
					<br>
					<input type="text" name="emailSignup">
					<br><br>
					<b>Password</b>
					<br>
					<input type="text" name="passSignup">
					<br><br>
					<input type="submit" class="btnSignup" value="Sign Up">
				</form>
			</div>
		</main>

		<footer>
			<a></a>
		</footer>
	</div>
</body>

</html>
