@using PostIt_Master.Models;
@using System.Globalization;

@model IEnumerable<PostIt_Master.Models.Note>

<nav>
    <ul>
        @if (Model != null)
        {
            foreach (var note in Model)
            {
                <li><b>@note.NoteTitle</b></li>
            }
        }
        <li>
            <a> <b>CHORES</b></a>&nbsp;
        </li>
        <li><a><b>GROCERIES</b></a>&nbsp;</li>
        <li>
            <a> <b>BILLS</b></a>&nbsp;
        </li>
        <li>
            <a> <b>DATES</b></a>&nbsp;
        </li>
        <li>
            <a> <b>RANDOM</b></a>&nbsp;
        </li>
    </ul>
</nav>

