@using PostIt_Master.Models;
@using System.Globalization;

@model IEnumerable<PostIt_Master.Models.Note>

@{
        ViewBag.Title = "Index";
    Layout = null;
        //Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
	<title>Noteable</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="~/Content/stylesheet.css" media="screen">
	<link rel="icon" href="~/Content/Images/favicon.ico" type="image/x-icon">
</head>

<body>
	<div id="wrapper">
        <header class="titleHeader">
            <h1 class="title">Notable</h1>
        </header>
        <nav class="leftColumn">
            <ul id="noteNav">
                @if (Model != null)
                {
                    foreach (var note in Model)
                    {
                        <li><b>@note.NoteTitle</b></li>
                    }
                }
            </ul>
        </nav>
        <main>
        <div class="rightColumn">
            <div id="changeColor">
                <h3>Choose Color:</h3>
                <div id="PinkColor" onclick="pink()">
                    <a href="#"></a>
                </div>
                <div id="BlueColor" onclick="blue()">
                    <a href="#"></a>
                </div>
                <div id="YellowColor" onclick="yellow()">
                    <a href="#"></a>
                </div>
                <div id="CustomColor" onclick="pickColor()">
                    <a href="#"></a>
                    <input type='color' name="colorPicker" value="#FBEF65" id="colorPicker" title="Color">
                </div>
            </div>
            @Html.Partial("~/Views/Notes/_CreateNote.cshtml", CreateNote.findNote(Model))
            </div>

            </main>
            <footer>
                <a>Sign Out</a>
            </footer>

        </div>

    <script type="text/javascript">
        window.jQuery || document.write('<script type="text/javascript" src="~/Scripts/jquery.min.js"><\/script>')
    </script>
    <script src="~/Scripts/color.js"></script>

</body>

</html>
