#wrapper {
    width: 1200px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: rgb(85, 85, 85);
    background-size: cover;
    font-family: Georgia, serif;
}

.titleHeader {
    background-color: rgba(0, 0, 0, 0.6);
    height: 120px;
    font-size: 25px;
    text-align: center;
    text-shadow: 2px 2px rgb(245, 179, 50);
    box-shadow: 5px 5px 5px #000000;
}

.title {
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 40px;
    color: #FFFFFF;
    text-shadow: 2px 2px rgb(245, 179, 50);
}

.leftColumn {
    float: left;
    width: 190px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.6);
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    box-shadow: 5px 5px 5px #000000;
    clear: left;
}

.leftColumn ul {
    margin: 15px;
    padding: 5px;
}

.leftColumn li {
    list-style-type: none;
    padding: 5px 5px 5px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(119, 119, 119);
    box-shadow: 2px 2px rgb(245, 179, 50);
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
}

.leftColumn a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
}

.leftColumn a:hover {
    color: rgb(245, 179, 50);
}

.leftColumn a:focus {
    color: rgb(245, 179, 50);
}

.leftColumn a:active {
    color: rgb(223, 120, 0);
}

noteNav {
    color: #FFFFFF;
    font-weight: strong;
}

.rightColumn {
    float: right;
    width: 980px;
    height: 600px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFFFFF;
    box-shadow: 5px 5px 5px #000000;
    position: relative;
}

.tools {
    clear: both;
    text-align: center;
    width: 980px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 5px 5px 5px #000000;
    color: #FFFFFF;
    margin-top: 15px;
    padding-top: 10px;
}

#addNote {
    font-size: 70px;
    text-align: center;
    padding-top: 0px;
}

#note {
    width: 350px;
    height: 350px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
    margin-left: 45px;
    color: #000000;
    background-color: #FBEF65;
    box-shadow: 5px 5px 25px #000000;
    position: relative;
}

#noteTitle {
    resize: none;
    background: rgba(0, 0, 0, 0);
    font-size: 30px;
    width: 324px;
    height: 35px;
    margin-top: 10px;
    margin-left: 10px;
    border: none;
    overflow: hidden;
}

#noteText {
    resize: none;
    background: rgba(0, 0, 0, 0);
    font-size: 20px;
    width: 324px;
    height: 245px;
    margin-top: 10px;
    margin-left: 10px;
    border: none;
    overflow: hidden;
}

.btnSave a {
    position: absolute;
    margin-left: 50px;
    bottom: 0;
    width: 100px;
    text-align: center;
    background-image: linear-gradient(#FFFFFF, #999999);
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border-style: solid;
    border-color: #333333;
    border-width: 1px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #555522;
    text-decoration: none;
    color: #000000;
    padding: 5px;
}

.btnSave a:hover {
    color: #000000;
    background-image: linear-gradient(#FFFFFF, #AAAAAA)
}

.btnSave a:focus {
    color: #000000;
}

.btnSave a:active {
    color: #000000;
}

.btnDelete a {
    position: absolute;
    margin-left: 175px;
    bottom: 0;
    width: 100px;
    text-align: center;
    background-image: linear-gradient(#FFFFFF, #999999);
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border-style: solid;
    border-color: #333333;
    border-width: 1px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #555522;
    text-decoration: none;
    color: #000000;
    padding: 5px;
}

.btnDelete a:hover {
    color: #000000;
    background-image: linear-gradient(#FFFFFF, #AAAAAA)
}

.btnDelete a:focus {
    color: #000000;
}

.btnDelete a:active {
    color: #000000;
}

.signOutBar {
    clear: both;
    text-align: right;
    width: 1200px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 5px 5px 5px #000000;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.leftColumn .x {
    color: rgb(144, 25, 25);
    font-weight: bold;
}

#changeColor {
    margin-left: 600px;
}

#PinkColor a {
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: pink;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border-style: solid;
    border-color: #333333;
    border-width: 1px;
    border-radius: 100px;
    box-shadow: 3px 3px 5px #555522;
    text-decoration: none;
    color: #000000;
    padding: 5px;
}

#PinkColor a:hover {
    color: #000000;
    border-color: white;
}

#PinkColor a:focus {
    color: #000000;
}

#PinkColor a:active {
    color: #000000;
}

#BlueColor a {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 50px;
    text-align: center;
    background-color: lightblue;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border-style: solid;
    border-color: #333333;
    border-width: 1px;
    border-radius: 100px;
    box-shadow: 3px 3px 5px #555522;
    text-decoration: none;
    color: #000000;
    padding: 5px;
}

#BlueColor a:hover {
    color: #000000;
    border-color: white;
}

#BlueColor a:focus {
    color: #000000;
}

#BlueColor a:active {
    color: #000000;
}

#YellowColor a {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 100px;
    text-align: center;
    background-color: yellow;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border-style: solid;
    border-color: #333333;
    border-width: 1px;
    border-radius: 100px;
    box-shadow: 3px 3px 5px #555522;
    text-decoration: none;
    color: #000000;
    padding: 5px;
}

#YellowColor a:hover {
    color: #000000;
    border-color: white;
}

#YellowColor a:focus {
    color: #000000;
}

#YellowColor a:active {
    color: #000000;
}

#CustomColor a {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 150px;
    text-align: center;
    background: linear-gradient(red, blue);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border-style: solid;
    border-color: #333333;
    border-width: 1px;
    border-radius: 100px;
    box-shadow: 3px 3px 5px #555522;
    text-decoration: none;
    color: #000000;
    padding: 5px;
}

#CustomColor a:hover {
    color: #000000;
    border-color: white;
}

#CustomColor a:focus {
    color: #000000;
}

#CustomColor a:active {
    color: #000000;
}

#colorPicker { visibility: hidden; }
