<!DOCTYPE html>
<html lang="en">

<head>
	<title>Noteable</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="Note.css" media="screen">
	<link rel="icon" href="images/Sticky.ico" type="image/x-icon">

</head>

<body>

	<div id="wrapper">

		<header>
			<h1 id="Title"> Notable</h1>

		</header>

		<div id="tools">
			<p>TOOLBAR for font size, bullets, color, etc.</p>
		</div>

		<nav>
			<ul>
				<li>
					<a> <b>CHORES</b></a>&nbsp;</li>
				<li><a><b>GROCERIES</b></a>&nbsp;</li>
				<li>
					<a> <b>BILLS</b></a>&nbsp;</li>
				<li>
					<a> <b>DATES</b></a>&nbsp;</li>
				<li>
					<a> <b>RANDOM</b></a>&nbsp;</li>
			</ul>
		</nav>

		<main>

			<div id="right_column">
				<div id="note">
					<h1 id="note_title"> CHORES </h1>

					<ul>
						<li>Cut Grass</li>
						<li>Walk Dog</li>
						<li>Clean Kitchen</li>
						<li>Do Dishes</li>
						<li>Sweep Garage</li>
						<li>Clean Windows</li>
					</ul>

					<div id="save">
						SAVE
					</div>

					<div id="delete">
						DELETE
					</div>

				</div>


			</div>

		</main>

		<footer>
			<a>Sign Out</a>
		</footer>

	</div>

</body>

</html>
