<!DOCTYPE html>
<html lang="en">

<head>
	<title>Notable</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="stylesheet.css" media="screen">
	<link rel="icon" href="../favicon.ico" type="image/x-icon">
</head>

<body>
	<div id="wrapper">
		<header class="titleHeader">
			<h1 class="title">Notable</h1>
		</header>
		
		<div class="tools">
			<p><!--TOOLBAR for font size, bullets, color, etc.--></p>
		</div>
		
		<nav class="leftColumn">
			<ul class="noteNav">
				<li>
					<a href="#" id="note1">CHORES</a>
				</li>
				<li>
					<a href="#" id="note2">GROCERIES</a>
				</li>
				<li>
					<a href="#" id="note3">BILLS</a>
				</li>
				<li>
					<a href="#" id="note4">DATES</a>
				</li>
			</ul>
		</nav>
		
		<main>
			<div class="rightColumn">
				<div class="note">
					<h1 class="noteTitle">CHORES</h1>
					
					<ul>
						<li>Cut Dog</li>
						<li>Walk Grass</li>
						<li>Clean Kitchen</li>
						<li>Do Windows</li>
						<li>Sweep Dishes</li>
						<li>Clean Garage</li>
					</ul>
					
					<div class="btnSave">
						<a href="#">SAVE</a>
					</div>
					
					<div class="btnDelete">
						<a href="#">DELETE</a>
					</div>
				</div>
			</div>
		</main>
		
		<footer class="signOutBar">
			<a href="#">Sign Out</a>
		</footer>
	</div>
</body>

</html>